# Don't use quotes( " and ' )

API_ID=18622297
API_HASH=27e6993af0786f66f96599db6cd10bcc
SESSION=1AZWarzcBuwFiCBvpYUewrK1mwxPFM5dybaLoHkRCLPguSOcFItrmy365vHhv_Ub571DKVKfi1usvjXpfMBaR0vDCXunX7w6WjRRAAaCjzR7l9pZ2-ZjWs3bWygyGaiu_jb2ZtBbuyv1kPbLkPMuVXSZeQxmhWLInzKH2vyckZSvrotb1F3flph-qcAtjQHZGCw0fzo9Th7MsdoHezeGSRwdZymYTMvJeBHcEqsUFiJWBBo6JgDZhwVBfO6YV0oKEAJwDpZh7bC2Wl8PQRbV080OcnDL2dESq9sQ_5QyVk75GxEYXyi_cJLjODMl2FlBOT8phocqp-48VCnTjuxSGz37y1sQXbNk=
REDIS_URI=redis-12294.c44.us-east-1-2.ec2.cloud.redislabs.com:12294
REDIS_PASSWORD=rkoSqxbQXsdoP7tNhMItYWaBLx8hXPzL

# [OPTIONAL]

LOG_CHANNEL=
BOT_TOKEN=
